<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h2>Names</h2>

            <ul>
                <template v-for="(person, i) in people">
                    <li>
                        {{ person.name }}
                    </li>
                </template>
            </ul>

            <template v-for="(color, i) in colors">
                <!-- Renderizará apenas a repetição dos elementos abaixo -->
                <h1>{{ color }}</h1>
                <h4>{{ i }}</h4>
            </template>
        </div>
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                colors: ['red', 'yellow', 'green', 'blue'],
                people: [
                    {name: 'Fulano', age: '26', weight: 59},
                    {name: 'Maria', age: '20', weight: 48},
                    {name: 'Pedrinho', age: '24', weight: 55}
                ]
            }
        })
    </script>
</html>

<style>
    h1, h4{
        display: inline;
        padding: 10px;
    }
</style>

<!-- 
    v-for em <template>

        -> Similar to template v-if, you can also use a <template>
             tag with v-for to render a block of multiple elements.
             
             - Por exemplo:

             <ul>
                <template v-for="item in items">
                    <li>{{ item.msg }}</li>
                    <li class="divider" role="presentation"></li>
                </template>
            </ul>

 -->